<!DOCTYPE html>
<html>
<head>
  <title>Statusku</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body{
	background-color: #f7d780;
}

.jumbotron{
	background-color: #d1b25e;
}

.save btn btn-default{
}
</style>
</head>
<body>
<div class = "jumbotron" align = "center">
	<h1>Hai, Apa Kabar?</h1>
</div>
<div class = "form-group" align = "center">
	<form id = "form" method = "POST">
		{% csrf_token %}
		<table border = "1">
			{{frmstatus}}
		</table>
		<button id="submit_button" type = "submit" class = "save btn btn-default">Submit</button>
		</form>
	</div>
<div class ="container status">
	<h3>Status</h3>
	<div class = "table">
		<table class = "table">
			<thead>
				<th scope = "col">Status</th>
				<th scope = "col">Waktu</th>
			</thead>
			<tbody>
				{% for e in mdlstatus %}
				<tr>
					<td scope = "col">{{e.status}}</td>
					<td scope = "col">{{e.date}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</body>
</html>